@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Kosugi');
@import url('https://fonts.googleapis.com/css?family=Anton');


body
{
	margin=0;
}

header
{
	background: black;
	color: white;
	padding: 8px 0px 25px 5px;
}

header h1
{
	font-family: 'Baloo Bhai', cursive;
	font-weight: 380;
	font-size: 30px;
	float: left;
	margin-top: 0px;
	margin-right: 40px;
	margin-bottom: 0px;
}

nav ul li
{
	display: inline-block;
	list-style-type: none;
	margin-top: 12px;
	margin-right: 40px;
}

nav ul li a
{
	color : white;
}
 #nav
 {
 	font-family: 'Oswald', sans-serif;
 }

 .homered
 {
 	background-color: red;
 	padding: 36px 15px 36px 15px;
 }

.homeblack:hover
{
	background-color: blue;
	padding: 36px 15px 36px 15px;
	cursor: pointer;
}

.divider
{
	background-color: red;
	height: 5px;

}

.first
{
	font-family: 'Kosugi', sans-serif;
	color: yellow;
	font-size: 20px;
	font-weight: 400;
	padding: 9% 5% 0% 55%;

}

.second
{
	font-family: 'Anton', sans-serif;
	color: orange;
	font-size: 50px;
	font-weight: 450;
	padding: 0.5% 0% 0% 55%;
}

.third
{
	font-family: 'Anton', sans-serif;
	color: white;
	font-size: 50px;
	font-weight: 450;
	padding: 0% 0% 0% 55%;
}

.fourth
{
	font-family: 'Anton', sans-serif;
	color: green;
	font-size: 50px;
	font-weight: 450;
	padding: 0% 0% 0% 55%;
}

.fifth
{
	color: yellow;
	font-size: 30px;
}